:root {
  --md-primary-fg-color:        #D8DCE2;
  --md-primary-fg-color--light: #D8DCE2;
  --md-primary-fg-color--dark:  #4B4F63;

  --dark-color: #FFEC4B;
  --light-color: #33E08E;
}

a:link {
  color: light-dark(var(--light-color), var(--dark-color));
}

a:visited {
  color: light-dark(var(--light-color), var(--dark-color));
}

a:hover {
  color: light-dark(var(--light-color), var(--dark-color));
}

a:active {
  color: light-dark(var(--light-color), var(--dark-color));
}